.card-img-top {
  width: 100%;
  object-fit: cover;
  height: 40vh;
}
@media (min-width: 768px) {
  .card-img-top {
    height: 30vh !important;
  }
}
@media (max-width: 768px) {
  #map {
    height: 450px;
  }
}
